**/client
**/channels
**/models
**/deployment
**/kubernetes-config
**/__pycache__
**/scripts
**/channels/__pycache__
**/*/run_actions.py
*.db
*.db-shm
*.db-wal
*.dot
*.yml
**/test
**/tests
**/data
**/.git
