.DS_Store
node_modules
/dist
dev.js
/router/images-dont-delete-me/*
sample-server
client2
models

# differently rendered on PROD env than on DEV env
client/src/components/ExpandableImage.vue

# local env files
.env.local
.env.*.local
.env
profile
profile_result

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
story_graph.dot
test.py

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
# actions pycache
/actions/__pycache__
/actions/run_actions.py
/channels/__pycache__
/__pycache__
/models
/results
export.json
export_old.json
/data/result_nlu
/stories_results
/nlu_results
getExport.sh

